html *{
  box-sizing: border-box;
  font-family: Tahoma, Geneva, sans-serif;
}

body{
  padding: 0;
  margin: 0;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  align-content:center;;
  min-height: 100vh;
  width: 100vw;
}

.content {
  align-items: stretch;
  align-content: stretch;
  display: flex;
  flex:2;
  flex-wrap: wrap;
}

.wrapper {
  border: 10px solid #f0f0f0;
  background-color: #fff;
  padding: 20px;
  height: 40vh;
  overflow-x: scroll;
  width: 33.33vw;
}

h1 {
  text-align: center;
}

h2 {
  margin: 0 0 20px;
}

p {
  overflow-x: scroll;
  max-width: 100%;
}

a, a:visited {
  text-decoration: none;
  color: #d75ea1;
}

a:hover {
  color: #cc3387;
}

.highlight {
  font-weight: bold;
}

.console {
  display: none;
}

@media screen and (max-width: 767px) {
  .content {
    flex-direction: column;
  }
  .wrapper {
    width: 100vw;
    max-height: 80vh;
  }
}
